version: "3"

services:
  {{cookiecutter.project_dir}}-api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    ports:
      - "8080:8080"
  {{cookiecutter.project_dir}}-ui:
    build:
      context: .
      dockerfile: apps/ui/Dockerfile
      args:
        APP_SERVER_HOST: localhost
        APP_SERVER_PORT: 8080
    ports:
      - "80:80"
    depends_on:
      - {{cookiecutter.project_dir}}-api
    links:
      - {{cookiecutter.project_dir}}-api
